.DS_Store
Builds/
JuceLibraryCode
blender_files/thilter_ui/animation_frames/
blender_files/thilter_ui/dark_ver_animation_frames_2.0/
blender_files/thilter_ui/prototype/knob_frames
blender_files/thilter_ui/speech_bubbles/
